entrypoint = "frontend/src/main.tsx"
run = "cd frontend && npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "cd frontend && npm install && npm run build"]
run = ["sh", "-c", "cd frontend && npx serve dist -l 5000"]
deploymentTarget = "static"
publicDir = "frontend/dist"
